<!-- Start Forms -->
<div class="container mr-4 p-4">
  <div class="col-sm-8">
    <form action="#">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="email">Email:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="email" placeholder="xyz@userdomain.com">
          <input type="hidden" class="form-control" id="userName" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="userPwd">Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="usrPwd" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="retypePwd">Re-Enter Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="retypePwd" placeholder="Re-Enter Password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="firstName">First Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="firstName" placeholder="John">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="lastName">Last Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="lastName" placeholder="Doe">
        </div>
      </div>      
<div class="form-group row">
  <div class="col-sm-2 text-center mr-10">
    <button type="submit" value="submitRegistration" class="btn add-btn">Save</button>
  </div>
</div>
</form>
</div>
</div>