 <!-- Start Forms -->
 <div class="container mr-4 p-4">
  <div class="col-sm-8">
    <form action="#">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="activityType">Activity Type:</label>
        <div class="col-sm-6">
            <select class="form-control" id="activityType">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="activityDay">Date :</label>
        <div class="col-sm-6">
            <input type='date' id='activityDay' placeholder="Date of Activity" class="form-control dop-icon" />
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label mr-4" for="activityTime">Time:</label>
          <div class="col-sm-6">
              <input data-format="HH:mm:ss PP" type="datetime" class="form-control time-icon" id="activityTime" placeholder="Time">
          </div>
      </div>    
      <div class="form-group row">
          <label class="col-sm-2 col-form-label mr-4" for="activityNotes">Notes:</label>
          <div class="col-sm-6">
              <textarea class="form-control" rows="5" id="activityNotes"></textarea>
          </div>
        </div>    
<div class="form-group row">
  <div class="col-sm-2 text-center mr-10">
    <button type="submit" value="submitPrescription" class="btn add-btn">Add</button>
  </div>
</div>
</form>
</div>
</div>