<!-- Start Forms -->
<div class="container mr-4 p-4">
  <div class="col-sm-8">
    <form action="#">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="rxName">RxName:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="rxName" placeholder="Rx Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="prescribedUnit">Prescribed Unit:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="prescribedUnit" placeholder="Prescribed Unit">
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label mr-4" for="unitType">Unit Type:</label>
          <div class="col-sm-6">
              <select class="form-control" id="unitType">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
          </div>
        </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="prescribedBy">Prescribed By:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="prescribedBy" placeholder="Prescribed By">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="usage">Usage:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="usage" placeholder="Usage">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="dop">DOP:</label>
        <div class="col-sm-6">
          <input type='date' id='dop' placeholder="Date of Prescription" class="form-control dop-icon" />
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="mr-2" id="active">Active
        </label>
      </div>
<div class="form-group row">
  <div class="col-sm-2 text-center mr-10">
    <button type="submit" value="submitPrescription" class="btn add-btn">Add</button>
  </div>
</div>
</form>
</div>
</div>
<!-- End of Forms -->