<!-- Start Forms -->
<div class="container mr-4 p-4">
  <div class="col-sm-8">
    <form action="#">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="exerciseType">Exercise Type:</label>
        <div class="col-sm-6">
            <select class="form-control" id="exerciseType">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="activityDescription">Description:</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="5" id="activityDescription"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="repeats">Repeats:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="repeats" placeholder="# of Reps">
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label mr-4" for="duration">Duration:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="duration" placeholder="Duration">
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label mr-4" for="calorieCount">Calories :</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="calorieCount" placeholder="Calories Burnt">
          </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-4" for="dateOfEx">Date:</label>
        <div class="col-sm-6">
            <input type='date' id='dateOfEx' placeholder="Date" class="form-control dop-icon" />
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label mr-4" for="gymNotes">Notes:</label>
          <div class="col-sm-6">
              <textarea class="form-control" rows="5" id="gymNotes"></textarea>
          </div>
        </div>
<div class="form-group row">
  <div class="col-sm-2 text-center mr-10">
    <button type="submit" value="submitPrescription" class="btn add-btn">Add</button>
  </div>
</div>
</form>
</div>
</div>
<!-- End of Forms -->