<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyRx</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item">
          <div class="dropdown show">
              <a href="#" class="btn nav-item dropdown-toggle" role="button" id="rxMedsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meds</a>
              <div class="dropdown-menu" aria-labelledby="rxMedsLink">
                <a class="dropdown-item" href="prescriptions">Register</a>
                <a class="dropdown-item" href="rxusage">Daily Entry</a>
                <a class="dropdown-item" href="#">Monitor Entry</a>
              </div>
        </div> 
      </li>   
      <li class="nav-item">
          <div class="dropdown show">
              <a href="#" class="btn nav-item dropdown-toggle" role="button" id="rxActivityLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activity</a>
              <div class="dropdown-menu" aria-labelledby="rxActivityLink">
                <a class="dropdown-item" href="fooddiary">Food</a>
                <a class="dropdown-item" href="fitness">Gym</a>
                <a class="dropdown-item" href="activity">Routine</a>
              </div>
        </div> 
      </li>
      <li class="nav-item">
          <div class="dropdown show">
              <a href="#" class="btn nav-item dropdown-toggle" role="button" id="rxReportLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
              <div class="dropdown-menu" aria-labelledby="rxReportLink">
                <a class="dropdown-item" href="reports">Meal Report</a>
                <a class="dropdown-item" href="reports">Activity Report</a>
                <a class="dropdown-item" href="reports">Gym Report</a>
                <a class="dropdown-item" href="reports">Med Usage Report</a>
              </div>
        </div> 
      </li>         
      <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="register" class="nav-link">Register</a></li>
    </ul>
  </div>
</nav>
<!--End of Nav-->
