.navbar {
  background-color: #5E4485 !important;
}

.navbar .navbar-brand,.navbar .navbar-brand:hover {
  color: #FFF;
}

.navbar .navbar-nav li a,.navbar .navbar-nav li a:focus { 
  color:#cbbde2 !important;
  background-color:#5E4485 !important;
}

.navbar .navbar-nav li a:hover {
  color:#e6e8ed !important;
  background-color:#5E4485 !important;
}
.dropdown-menu{
  padding:0;
  border:0;
}
.main-section {
  margin: 0 auto;
  margin-top: 130px;
  padding:0;
}


