<div class="container">
  <h2>Add Counter</h2>
  <form #counterForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" class="form-control" id="name" required [(ngModel)]="name" name="name" #counterName="ngModel">
    </div>
    <div [hidden]="counterName.valid || counterName.pristine"
     class="alert alert-danger">
       Name is required
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!counterForm.form.valid" >Add</button>
  </form>
</div>


<div class="container">
<p>{{name}}</p>
</div>