<div class="container mt-4">
    <div class="card flex-row flex-wrap m-2">
        <img class="blog-img" src="https://source.unsplash.com/daily" alt="Card image top">
        <div class="card-body">
          <h3 class="card-title">MyFitness</h3>
          <h4 class="card-subtitle">Card subtitle</h4>
          <p class="card-text">This is a simple Card example</p>
        </div>
      </div> 
    <div class="card flex-row flex-wrap m-2">
          <img class="blog-img" src="https://source.unsplash.com/daily" alt="Card image top">
          <div class="card-body">
            <h3 class="card-title">MyFitness</h3>
            <h4 class="card-subtitle">Card subtitle</h4>
            <p class="card-text">This is a simple Card example</p>
          </div>
    </div>
    <div class="card flex-row flex-wrap m-2">
        <img class="blog-img" src="https://source.unsplash.com/daily" alt="Card image top">
        <div class="card-body">
          <h3 class="card-title">MyFitness</h3>
          <h4 class="card-subtitle">Card subtitle</h4>
          <p class="card-text">This is a simple Card example</p>
        </div>
      </div>  
</div>
